<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
	<meta charset='utf-8'>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<%= yield %>
</body>
</html>