<% if @total %>	
	<table class="table">
		<tr>
			<th>Ежемесячный платеж</th>
			<th>Остаток по кредиту</th>
		</tr>
		<% @total.each do |t| %>
			<tr>
				<td><%= t[0] %></td>
				<td><%= t[1] %></td>
				</tr>
			</tr>	
		<% end %>
	</table>
<% else %>
	<p>Заполните, пожалуйста, поля для расчета кредита</p>
	<a href="/">Калькулятор</a>
<% end %>